* {
    box-sizing: border-box;
}

.box {
    border: solid black 3px;
    width: 150px;
    height: 150px;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

/*
        # margin - 해당 요소와 다른 요소의 거리를 결정하는 여백
*/

.bubble{
    border: 3px blue solid;
    margin: 50px;
    padding: 10px;
    font-size: 25px;
}
#outer{
background-color: aqua;
}
#inner1{
background-color: gold;
}
#inner2{
background-color: aqua;
}

#item>*{
    border: 1px solid gray;
    margin: 10px;
}